:root {
  --shadow-color: 53deg 11% 40%;
}

body {
  background-color: #000;
  color: black;
  font-family: 'Heebo', sans-serif;
  direction: rtl;
  font-size: 20px;
  margin: 0px;
  /* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif; */
}

h1 {
  color: white;
  margin: 0;
  background: #999;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0 1rem;
  font-weight: normal;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
.container.search {
  height: auto;
}
.error {
  padding: 0 1rem;
}
.separator {
  border: 1px solid #000;
  background: url(/camo.png);
  background-size: 100%;
  height: 1rem;
  filter: hue-rotate(135deg);
}
.soldier .topRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
}
.soldier .name {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: bold;
  padding-top: 1rem;
}
.soldier .line {
  border-top: 1px solid #000;
  margin: 0px -20px;
  padding: 0px 20px;
}
.actions {
  line-height: 0;
}
a {
  color: #2196f3;
  text-decoration: none;
}
.soldier .copy {
  transform: translateY(4px);
  display: inline-block;
  margin-right: 6px;
}
.soldier .copy img {
  width: 18px;
}
#output {
  line-height: 2em;
}
.version {
  text-align: center;
  color: #555;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}
#logo {
  width: 30px;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 20px 20px 35px;
  background: url(/camo.png);
  background-size: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #333;
}
.search .header {
  width: 100vw;
}

.inputWrapper {
  transition: 0.25s ease-out;
  position: relative;
  width: calc(100% - 50px);
  margin: auto;
}

.search .inputWrapper {
  width: 100%;
}

#searchInput {
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid #555; */
  border: none;
  width: 100%;
  background: #fff;
  flex: 1;
  font-size: 20px;
  transition: 0.5s ease-out;
  outline: none;
}

.search #searchInput {
  background: #fff;
  box-shadow: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 3.8px 4.3px -1.7px hsl(var(--shadow-color) / 0.36),
    0.1px 9.4px 10.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.force {
  background: white;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid #e7e7e7;
}
.force-line {
  border-bottom: 1px solid #e7e7e7;
  margin: 0px -10px;
  padding: 0px 10px;
}
.force-line:last-child {
  border-bottom: none;
}
.favItemButton {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;
  background: white;
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: right;
}
.btnClear {
  line-height: 0;
  width: 30px;
  position: absolute;
  left: 8px;
  cursor: pointer;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.btnClear img {
  height: 30px;
  width: 30px;
}


.favoriteBtn {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0 1rem 0 0;
}

.favoriteBtn img {
  width: 25px;
}

.rows {
  display: grid;
  grid-template-columns: auto 1fr;
  /* gap: 0 1.5rem; */
}

.label {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #bbb;
}

.value {
  padding-left: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
}

.preSigninMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.search .preSigninMain {
  display: none;
}

.logoWrapper {
  position: relative;
  flex: 1;
}

.logoEfraim {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 212px;
  pointer-events: none;
}

/* .noBio #bioSignin,
.bioSignedIn #bioSignup,
.bioSignedIn #bioSignin,
.bioSignedUp #bioSignup {
  display: none;
} */

.bioSignup {
  background-color:#2096f3;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bioSignin {
  justify-content: center;
}

.bioSignup, .bioSignin {
  display: none;
}

.search.noBio .bioSignup {
  display: flex;
}

.search.noBio.bioDismissed .bioSignup {
  display: none;
}

.login.bioSignedUp .bioSignin {
  display: flex;
}

.bioSignup h3 {
  margin: 0.5rem 0;
}

#bioSignup, #bioSignin {
  background: white;
  color: #2096f3;
  font-size: inherit;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0.5rem;
  cursor: pointer;
}

#btnDismiss {
  background: none;
  border: none;
  font:inherit;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.lists {
  display: flex;
  flex-direction: column;
}

.emptyInput .lists {
  flex-direction: column-reverse;
}
