:root {
  --primary-color: #2196f3;
  --primary-color-muted: #2d7dbe;
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}
